footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	text-align: center;
}

.body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.wrapper {
	margin: 20px;
}

.lists {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

.lists__semantica {
	list-style: initial;
	margin: 0;
	padding: 0;
}

.item,
.link__nav {
	padding: 10px;
	text-align: center;
	background-color: rgb(78, 97, 245);
	border-radius: 10px;
	min-width: 200px;
}

.link {
	text-decoration: none;
	color: rgb(255, 255, 255);

}

.description {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}

.description__term,
.description__definition {
	width: calc(100%/2 - 14px - 10%);
	border-bottom: 1px solid #000;
}

.title {
	text-align: center;
}

.italic {
	font-style: italic;
	color: rgba(0, 0, 0, 0.5);
}

.navigation {
	margin-bottom: 20px;
}

.foot {
	margin-left: 30px;
}

.marg {
	margin-left: -30px;
}

.main {
	margin-bottom: 10px;
}

.link__tag {
	display: inline-block;
	padding: 5px 10px;
	margin-bottom: 5px;
	background-color: rgb(54, 54, 54);
	border-radius: 4px;
	border: 1px solid rgb(54, 54, 54);
	letter-spacing: 2px;
	transition: all 0.5s ease;
}

.link__tag:hover, .link__tag:focus {
	background-color: rgb(255, 255, 255);
	color: rgb(54, 54, 54);
}

.wrapper__home {
	display: flex;
	justify-content: center;
}

.footer {
	display: flex;
	justify-content: center;
}

.footer>a {
	min-width: 115px;
}

/* !table */
.table,
.thead__data,
.tfoot__data,
.tbody__data {
	border: 1px solid black;
}

.table {
	border-collapse: collapse;
	margin: 20px auto;
}

.thead__data,
.tfoot__data,
.tbody__data {
	padding: 10px;
}

.tfoot__data {
	font-weight: bold;
}

.tfoot__data_max {
	background-color: #21bd44;
}

.tfoot__data_min {
	background-color: #ca2b5b;
}

.table-caption {
	font-size: 1.5rem;
	margin-bottom: 10px;
	font-weight: bold;
}

.time {
	display: block;
	margin: 10px;
}

.time__paragraph {
	margin: 0px;
	display: inline-block;
}

.online {
	display: block;
	background-color: #18ac00;
	width: 20px;
	height: 20px;
	margin: auto;
	border-radius: 50%;
}

.play {
	display: block;
	margin: auto;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid #55ee55;
	border-bottom: 10px solid transparent;
}

/* !table only div */

.table__bottom {
	display: grid;
	grid-template-columns: 30% 14% 14% 14% 14% 14%;
	margin-bottom: 10px;
}

.table__wrapper {
	width: 40%;
	margin: 20px auto;
}

.table__wrapper>h2.title {
	margin: 0;
	margin-bottom: 10px;
}

.table__column {
	display: flex;
	border: 1px solid black;
	align-items: center;
	justify-content: center;
}

.table__column>h4 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.table__column>h4>time {
	margin: 0;
}

.body__column {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;

}

.body__column.name {
	display: flex;
	justify-content: start;
	padding-left: 10px;
}

.foot__row {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;

}

.active__min {
	background-color: #21bd44;
}

.active__max {
	background-color: #ca2b5b;
}


/* !table userful */
.iframe-useful {
	width: 20vw;
	height: 10vw;
	transition: opacity 0.2s ease;
}

.iframe-useful:hover {
	opacity: 0.8;
}

.items-useful {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.item-useful {
	position: relative;
	padding: 4px 5px 4px 30px;
}

.item-useful:after {
	content: '';
	background-image: url('https://avatars.mds.yandex.net/i?id=aa36b87d87617374b7006e17397d3f0b_sr-4314299-images-thumbs&n=13&exp=1');
	width: 20px;
	height: 20px;
	top: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	left: 0;
	position: absolute;
}