html {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0;
}

hr {
	margin: 0;
}


header span.Small-text {
	font-size: 10px;
	font-weight: 900;
}

header h1 {
	font-style: italic;
	letter-spacing: 10px;
}

header h4 {
	font-style: italic;
	letter-spacing: 1px;
}

.left-text__top {
	font-size: 24px;
  width: 360px;
	margin: 0px 20px 0px 20px;
	background-color: brown;
	color: rgb(172, 167, 167);
}

.right-image__block {
	border: 1px solid black;
	width: 550px;
	background-color: greenyellow;
}

.right-image__block .block-verse .verse-text {
	padding-left: 0px;
}

.image-text {
	text-align: center;
	color: #b25ffa;
	text-decoration-line: underline;
	text-decoration-color: darkblue;
}


.images {
	padding: 100px 0px 100px 0px;
	margin-left: auto;
	background-image: url('./mages/hello_html_565ea002.jpg');
	background-position: center;
	background-size: 222px;
	background-repeat: space;
}


p.verse-text__flex {
	font-size: 20px;
	width: 296px;
	border-left: 2px solid gray;
	margin: 100px 10px 0px auto;
	padding-left: 10px;
}

.verse-text__flex .color {
	color: red;
	font-weight: bold;
}

.verse-text__flex .small-text {
	font-size: 7px;
}

.verse-text__flex .backg {
	background-color: rgb(19, 163, 19);
	display: inline-block;
	text-align: right;
	padding: 20px 0px 20px 0px;
	width: 170px;
}

.main-verse {
	width: 500px;
	font-size: 20px;
	margin: 25px auto 0px auto;
	border: 5px double rgb(218, 46, 46);
	color: blue;
	text-transform: capitalize;
	word-spacing: 20px;
	font-style: italic;
	text-align: right;
}

.main-verse-2 {
	margin: 30px auto 0px auto;
	font-size: 20px;
	width: 285px;
	padding: 10px 10px;
	border: 5px solid green;
	border-bottom: none;
	border-radius: 0px 46px 0px 31px;
	background-color: orange;
}


.right-verse {
	margin-right: 9px;
	font-size: 12px;
}

.verse-text {
	padding-left: 10px;
	border-left: 3px solid gray;
}

.verse-text span .small-text {
	font-size: 8px;
}

.verse-text span .backg {
	background-color: rgb(19, 163, 19);
	display: inline-block;
	text-align: right;
	height: 40px;
	width: 170px;
}

.main-verse__figure {
	width: 300px;
	margin: 20px auto 0px auto;
	border-left: 10px solid red;
	border-top: 2px dashed green;
	border-bottom: 5px solid blue;
	border-right: 5px double orange;
	border-radius: 25px 50px 50px 400px;
}

.main-verse__figure span {
	display: block;
}

.main-verse__figure .one {
	text-transform: uppercase;
	margin-top: 10px;
	text-align: center;
}

.main-verse__figure .twho {
	writing-mode: vertical-lr;
	margin-left: 30px;
}

.main-verse__figure .three {
	text-align: right;
	font-size: 13px;
}

.main-verse__figure .four {
	font-size: 14px;
	margin-left: auto;
	writing-mode: vertical-lr;
}

.footer-pushkin{
	margin-top: 40px;
}