div {
  position: relative;
  border: 1px dotted #000;
  padding: 30px 10px 10px 10px;
  background-color: rgba(255, 0, 0, 0.397);
}

div > div {
  background-color: rgba(0, 132, 255, 0.377);
}

div > div > div {
  background-color: rgba(30, 255, 0, 0.349);
}

div > div > div > div {
  background-color: rgba(251, 255, 0, 0.349);
}

div > div > div > div > div {
  background-color: rgba(255, 0, 200, 0.349);
}

div > div > div > div > div > div {
  background-color: rgba(0, 0, 0, 0.349);
}

div > div > div > div > div > div > div {
  background-color: rgba(255, 0, 0, 0.349);
}

div > div > div > div > div > div > div > div {
  background-color: rgb(205, 241, 0);
}

[data-content]::after {
  content: attr(data-content);
  position: absolute;
  top: 3px;
  left: 3px;
  background-color: rgba(0, 0, 0, 0.26);
  border: 1px solid #000;
  color:rgb(0, 0, 0);
  padding: 2px;
}

main, header, footer, section, h1, h2, h3, p, ul, li, a, img, button {
  position: relative;
  border: 1px dotted #000;
  padding: 30px 10px 10px 10px;
}

main::after, header::after, footer::after, section::after, h1::after, h2::after, h3::after, p::after, ul::after, li::after, a::after, button::after {
  position: absolute;
  top: 3px;
  left: 3px;
  background-color: rgba(0, 0, 0, 0.26);
  border: 1px solid #000;
  color:rgb(0, 0, 0);
  padding: 2px;
}

main::after {
  content: "main";
}

header::after {
  content: "header";
}

footer::after {
  content: "footer";
}

section::after {
  content: "section";
}

h1::after {
  content: "h1";
}

h2::after {
  content: "h2";
}

h3::after {
  content: "h3";
}

p::after {
  content: "p";
}

ul::after {
  content: "ul";
}

li::after {
  content: "li";
}

a::after {
  content: "a";
}

button::after {
  content: "button";
}